/*1. global*/

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #fbfbfb;
    color: #333333;
}
a {
    text-decoration: none;
    color: #565454;
}
a:hover {
    text-decoration: underline;
    color: #333333;
}

/*2. index*/
.wrapper {
    width: 964px;
    margin: 0px auto;
    min-height: 500px;
    position: relative;
    padding: 0 40px;
    overflow: visible;
    background: transparent;
}
.site-header {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    position: relative;
}
.nav-bar {
    text-align: center;
}
.nav-bar a:hover {
    text-decoration: none;
}
#logo {
    display: block;
    margin: 30px auto;
    line-height: 30px;
}
#nav {
    position: relative;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    white-space: nowrap
}
#nav li {
    position: relative;
    display: inline-block;
    zoom: 1;            /*let ie6/7 support inline-block*/
    *display: inline;   /*step2*/
    padding: 2px 30px;
    border-left: 1px solid #e8e8e8;
}
#nav li:first-child {
    border-left: none;
}
.content {
    overflow: hidden;
    position: relative;
    min-height: 400px;
}
.content a {
    color: #615AAB;
}
#painting {
    height: 490px;
    margin: 0 auto;
    text-align: center;
}
#footer {
    margin: 20px 0;
    font-size: 12px;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}

/*3. lab*/
.panel .title {
    line-height: 28px;
    font-size: 16px;
}
.panel .item-list li {
    line-height: 24px;
}
.description {
    text-indent: 2em;
    margin-bottom: 30px;
}

/*4. blog*/
.article {
    padding-left: 20px;
    line-height: 26px;
}
.article .datetime {
    margin-right: 10px;
}