/**
    author: liaoyu
    site: www.neatap.com
*/

/*1. global*/

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #fbfbfb;
    color: #333333;
}
a {
    text-decoration: none;
    color: #565454;
}
a:hover {
    text-decoration: underline;
    color: #222222;
}

/*2. index*/
#wrapper {
    width: 96%;
    max-width: 964px;
    margin: 0px auto;
    position: relative;
    overflow: visible;
    background: transparent;
}
#site-header {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    position: relative;
}
#nav-bar {
    text-align: center;
    padding: 30px 0;
}
#nav-bar a:hover {
    text-decoration: none;
}
#logo {
    display: block;
    float: left;
}
#logo h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 26px;
}
#nav {
    position: relative;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
#nav li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    zoom: 1;            /*let ie6/7 support inline-block*/
    *display: inline;   /*step2*/
    padding: 2px 5px;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
}
#nav li:hover {
    border-bottom: 2px solid #8CCDBE;
}
#container {
    overflow: hidden;
    position: relative;
}
#container a:link {
    color: #3A2DCA;
}
#container a:visited {
    color: #595988;
}
#container a:hover {
    color: #0000AA;
}
#container a:active {
    color: #0000FF;
}
#painting {
    margin: 0 auto;
    text-align: center;
}
#painting img {
    max-width: 100%;
}
#footer {
    margin: 20px 0;
    font-size: 12px;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}

/*media queries*/
@media screen and (min-height: 500px) {
    #container {
        min-height: 500px;
    }
}

/*3. lab*/
.panel .title {
    line-height: 28px;
    font-size: 16px;
}
.panel .item-list li {
    line-height: 24px;
}
.description {
    text-indent: 2em;
    margin-bottom: 30px;
}

/*4. blog*/
.article {
    padding-left: 20px;
    line-height: 26px;
}
.article .datetime {
    margin-right: 10px;
}