<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog - L君还在说之乎者也</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="L君还在说之乎者也的博客，专注web开发">
    <meta name="keywords" content="L君还在说之乎者也">
    <meta name="author" content="liaoyu">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
    <!--[if lt IE 9]>
        <script src="/static/vendor/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">
    <uu-nav curr="blog"></uu-nav>

    <div id="container">
        <div class="description">
            请 <a href="http://www.cnblogs.com/liaoyu/">点击这里</a> 查看更多博客。
        </div>
        <div class="archive">
            <template v-for="articles in posts">
                <h3>{{ articles.category }}</h3>
                <div class="article" v-for="post in articles.items">
                    <span class="datetime">{{ post.datetime }}</span>
                    <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                </div>
            </template>
        </div>
    </div>

    <uu-footer></uu-footer>
</div>

<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>