<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lab - L君还在说之乎者也</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="L君还在说之乎者也的实验室，HTML5与CSS3示例，JavaScript示例">
    <meta name="keywords" content="L君还在说之乎者也 Lab 实验室">
    <meta name="author" content="liaoyu">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
</head>
<body>

<div id="wrapper">
    <uu-nav curr="lab"></uu-nav>

    <div id="container">
        <div class="description">
            下面的代码示例是由我平时想着实现某个效果、练习某个好玩的技术，或者从别人那看到有意思的程序想自己实现一遍，
            亦或是出于无聊打发时间来写写代码，自诩程序员的日常。
        </div>
        <div class="panel">
            <template v-for="articles in labs">
              <p class="title">{{ articles.category }}</p>
              <ul class="item-list">
                <li v-for="lab in articles.items">
                  <a href="{{ lab.url }}">{{ lab.title }} - {{ lab.datetime }}</a>
                </li>
              </ul>
            </template>
        </div>
    </div>

    <uu-footer></uu-footer>
</div>

<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>