<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Vue.js 初体验</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./css/demo.css">
</head>
<body>

<h2>表单控件</h2>

<div id="app">
   <h3>Text</h3> 
   <p>{{ text }}</p>
   <input type="text" v-model="text">

   <h3>Checkbox</h3>
   <input type="checkbox" v-model="checked" id="checkbox">
   <label for="checkbox">{{ checked }}</label>

    <h3>Multi Checkbox</h3>
    <input type="checkbox" value="django" v-model="checkNames"> django 
    <input type="checkbox" value="jser" v-model="checkNames"> jser 
    <input type="checkbox" value="noder" v-model="checkNames"> noder
    <p>{{ checkNames | json }}</p> 

    <h3>Radio</h3>
    <input type="radio" value="One" v-model="picked"> One 
    <input type="radio" value="Two" v-model="picked"> Two
    <p>{{ picked }}</p> 

    <h3>Select</h3>
    <select v-model="selected">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <p>{{ selected }}</p>

    <h3>Multi Select</h3>
    <select multiple v-model="multiSelected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <p>{{ multiSelected | json }}</p>

</div>

<script type="text/javascript" src="/static/vendor/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            text: 'Vue.js',
            checked: false,
            checkNames: [],
            selected: 'B',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    });
</script>
</body>
</html>