<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Vue.js 初体验</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./css/demo.css">
</head>
<body>

<h2>条件渲染</h2>

<div id="app">
    <p v-if="ok">yes</p>
    <p v-else>no</p>

    <template v-if="ok">
        <p>1</p>
        <p>2</p>
    </template>

    <p v-show="flag">i see you</p>
</div>

<script type="text/javascript" src="/static/vendor/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            ok: true,
            flag: true
        }
    });

</script>
</body>
</html>